@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Roboto+Serif:opsz@8..144&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    color: black;
    font-family: "poppins";
}

/* header - hero section */

.header-section{
    background-color: #FEF8F8;
    margin-bottom: 55px;
}

.navbar{
    font-family: "poppins", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 135px;
    margin-right: 135px;
    padding-top: 35px;
}

.navbar-dark{
    background-color: #BC66EC;
    color: black !important;
}


.logo{
    color: #BC66EC;
    font-size: 32px;
    cursor: pointer;
    font-weight: 900;
}

.nav-items{
    display: flex;
    flex-direction: row;
}

li{
    list-style: none;
    font-size: 20px;
    color: black;
    margin-left: 22px;
    cursor: pointer;
}

.hero-section{
    margin-left:135px;
    margin-right: 135px;
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
}

.introduction{
    padding: 15px;
}

.main-heading{
    font-family: "Roboto serif", sans-serif;
    font-size: 75px;
    color: black;
}

.supporting-text{
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    color: black;
}

.main-button{
    font-size: 20px;
    margin-top: 35px;
    font-family: 'poppins', sans-serif;
    color: white;
    background-color: black;
    border-radius: 21px;
    padding: 20px 35px;
}

.hero-image{
    width: 500px;
}


/* shopping section new and collections */

.shop-section{
    margin: 83px;
}

.new-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.heading{
    font-family: "Roboto serif";
    font-size: 48px;
    width: 410px;
}

.text-new{
    font-size: 18px;
    font-family: "poppins", sans-serif;
    width: 420px;
}

.new-items-btn{
    background-color: black;
    color: white;
    height:50px ;
}

.items{
    display: flex;
    flex-direction: row;
    justify-items: space-around;
    align-items: center;
}

.item1{
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-img{
    width: 270px;
}

.text{
    font-size: 18px;
    font-family: "poppins", sans-serif;
}

.price{
    font-family: "poppins", sans-serif;
    font-size: 22px;
    color: #BC66EC;
    font-weight: bolder;
}

.section{
    padding: 35px;
    background-color: #e7cef4;
}
.collection-section{
    margin: 35px;
}

.collection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    padding: 35px;
}



.footer-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FEF8F8;
    padding: 35px;
}